<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <form action="" method="post">
                    <div>
                        <label>Code:</label>
                        <input type="text" name="code">
                    </div>
                    <div>
                        <label>Name:</label>
                        <input type="text" name="name">
                    </div>
                    <div>
                        <label>Category:</label>
                        <input type="text" name="category">
                    </div>
                    <div>
                        <label>Producer:</label>
                        <input type="text" name="producer">
                    </div>
                    <div>
                        <label>Image:</label>
                        <input type="text" name="image">
                    </div>
                    <div>
                        <label>Price:</label>
                        <input type="text" name="price">
                    </div>
                    <div>
                        <label>Old price:</label>
                        <input type="text" name="oldPrice">
                    </div>
                    <div>
                        <label>Tag:</label>
                        <input type="text" name="tag">
                    </div>
                    <div>
                        <label>Video:</label>
                        <input type="text" name="video">
                    </div>
                    <div>
                        <label>Details:</label>
                        <input type="text" name="details">
                    </div>
                    <div>
                        <a href="/product/add" class="btn btn-default text-success">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add a new product
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>