<div class="container-fluid">
    <form action="/products/edit/{{_id}}" method="POST">
       <input name = 'title' type="text" value= '{{title}}'> 
        <input name = 'description' type="text" value= '{{description}}'> 
        <input name = 'price' type="number"  value= '{{price}}'>
        
	    <button type="submit" class="btn">Submit Form</button>
											
										
    </form>
</div>